.*
!.NET
!.gitignore
build/
*.dll
*.pdb
*.apk
\!*
*.cache
obj/
thumbs.db
~$*
bin
logs/
temp/
tmp/
*.exe
*.tmp
gen/
*.iml
*.csproj.user
*.suo
*.cab
*.msi
Portal/Portal/Website/Files/
local.properties
*.mdf
*.ldf
*.bak
packages
local.properties
node_modules
*.coverage
surefire-reports
test-classes/
*.log
*.aab
*.apk
.idea/*